.env
.env.backup
.env.production
vendor
node_modules
storage/logs/*.log
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
bootstrap/cache/*.php
.phpunit.cache
.phpunit.result.cache
